.update-button {
  margin: 15px;
  font-size: 16px;
  cursor: pointer;
  
  }
.deregister-button{
  margin: 15px;
  font-size: 16px;
  cursor: pointer;
   
}
 
 
.favorite-movies{
  display: flex;
  justify-content: space-between;
}
 .profile-view{margin:15px;}