 .movie-view {
  font-family: 'Raleway', sans-serif;
}
.movie-title {
  font-family: 'Josefin Sans', sans-serif;
}
.back-button {
  background-color: black;
  margin-top: 1rem;
}

.disabled-button {
  margin-top: 1rem;
}

.movie-view {
  margin: 0 auto;
}
