.submit-button {
  background-color: black;
}

.login-button {
  background-color: white;
  color: black;
}

.login-view {
  font-family: 'Raleway', sans-serif;
}

.login-form {
  color: blue;
}

.incorrect-text {
  margin-top: 25px;
  color: #dc3545;
  font-size: small;
}
.incorrect {
  color: #dc3545;
  font-size: x-small;
}
